In [1]:
import state_keeper as sk

In [2]:
ledger = sk.read_batchfile('batchfile.csv')

In [3]:
ledger

                             job_name   job_type   job_status geometry_status
0  mono_alkyne_triplet_uks_r2scan_3c_   opt_freq  not_started     not_started
1  mono_alkyne_singlet_uks_r2scan_3c_   opt_freq  not_started     not_started

In [4]:
sk.update_state(ledger)

In [5]:
ledger

                             job_name   job_type   job_status geometry_status
0  mono_alkyne_triplet_uks_r2scan_3c_   opt_freq  not_started     not_started
1  mono_alkyne_singlet_uks_r2scan_3c_   opt_freq  not_started     not_started

In [6]:
sk.act_on_state(ledger,0)

0 jobs running
0 jobs running

0

In [7]:
sk.queue_new_jobs(ledger,0,1)

sbatch "./mono_alkyne_triplet_uks_r2scan_3c_/*.sh"

1

In [8]:
ledger

                             job_name   job_type   job_status geometry_status
0  mono_alkyne_triplet_uks_r2scan_3c_   opt_freq      running     not_started
1  mono_alkyne_singlet_uks_r2scan_3c_   opt_freq  not_started     not_started